@attribute [Authorize(Roles = RoleConstants.User)]
@attribute [Route(Routes.UserSettings)]

<AuthorizeView>
    <Authorized>
        <MudStack>
            <MudStack Row AlignItems="AlignItems.End" Class="d-flex align-center">
                <MudText Typo="Typo.h5">User Settings</MudText>
                <MudSpacer />
            </MudStack>
            <span>@($"You are currently logged in with {context.User.FindFirst("loggedInProvider")?.Value}")</span><br />
            <span>These are all the identity providers that are linked to this account</span><br />
            <ul>
                @foreach (var linkedProvider in context.User.FindAll("provider"))
                {
                    <li>@linkedProvider.Value</li>
                }
            </ul><br />
            <span>These are all the roles you have</span> <br />
            <ul>
                @foreach (var role in context.User.FindAll(ClaimTypes.Role))
                {
                    <li>@role.Value</li>
                }
            </ul>
        </MudStack>
    </Authorized>
</AuthorizeView>