@attribute [AllowAnonymous]
@attribute [Route(Routes.Login)]

@implements IDisposable

@inject IStartupState _startupState
@inject IAuthenticationService _authenticationService

<MudText Typo="Typo.h2">Login</MudText>

@if (!_startupState.BootstrapComplete)
{
	<MudProgressCircular Size="Size.Large" Class="ma-auto" Indeterminate />
}
else if (_startupState.AuthProviders.Count > 0 && _startupState.BootstrapComplete)
{
	<ul>
		@foreach (var provider in _startupState.AuthProviders)
		{
			@*TODO: Icons/images etc*@
			<li><a data-testid="@($"{DataTestIds.LoginWithProvider}{provider}")" href="@($"{_authenticationService.BffRoot}/account/login/{provider}")">Login with @provider</a></li>
		}
	</ul>
}
else
{
	<MudText Typo="Typo.body1">No auth providers configured</MudText>
}

@code {

	private void OnStateChanged(object? sender, EventArgs args)
	{
		InvokeAsync(StateHasChanged);
	}

	protected override void OnInitialized()
	{
		_startupState.StateChanged += OnStateChanged;	
	}

	public void Dispose()
	{
		_startupState.StateChanged -= OnStateChanged;
	}

}